<div class="welcome-container">
  <h1>Welcome to Crypto<span style="color: #0091ff">Break</span>!</h1>
  <p>
    Embark on a journey into the world of cryptocurrencies with CryptoBreak!
  </p>
  <div class="features">
    <div class="feature-item">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3528/3528158.png"
        alt="Real-time Market Data"
      />
      <h3>Real-time Market Data</h3>
    </div>
    <div class="feature-item">
      <img
        src="https://cdn-icons-png.flaticon.com/512/849/849987.png"
        alt="Advanced Analytics"
      />
      <h3>Advanced Analytics</h3>
    </div>
    <div class="feature-item">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2853/2853434.png"
        alt="News and Updates"
      />
      <h3>News and Updates</h3>
    </div>

    <div class="feature-item">
      <img
        src="https://cdn-icons-png.flaticon.com/512/5247/5247455.png"
        alt="Community Forum"
      />
      <h3>Community Forum</h3>
    </div>
  </div>
  <button *ngIf="!isAuthenticated" (click)="goToConnectPage()">
    Naviguer...
  </button>
</div>
