.welcome-container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
  margin-top: 75px;
}

span {
  color: rgb(0 126 255);
}

p {
  font-size: 1.2em;
  color: rgb(160, 160, 160);
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item {
  width: 200px;
  margin: 20px;
  text-align: center;
}

img {
  width: 100px; /* Adjust the size of the images */
  height: 100px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: rgb(0 126 255);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

button:hover {
  background-color: #00adcc;
}
