<h1>Break Community</h1>

<div
  id="app"
  style="height: 500px; margin-bottom: 10px; background-color: rgb(14, 14, 14)"
>
  <div id="sidebar">
    <div class="channel active"># General</div>
    <div class="channel"># Random</div>
    <div class="channel"># Crypto</div>
    <div class="channel"># News</div>
    <div class="channel"># FAQ</div>
  </div>
  <div id="main-content">
    <div class="chat">
      <div *ngFor="let message of messages" class="message">
        <div class="message-content">
          <div style="display: flex">
            <img
              class="user-avatar"
              src="https://via.placeholder.com/40"
              alt="User Avatar"
            />
            <div class="username">{{ message.username }}</div>
          </div>
          <div class="content">{{ message.content }}</div>
        </div>
      </div>
    </div>

    <div class="input-container">
      <input
        type="text"
        class="message-input"
        placeholder="Type your message..."
        [(ngModel)]="newMessage"
      />
      <button class="send-button" (click)="sendMessage()">Send</button>
    </div>
  </div>

  <div id="user-info">
    <img
      class="user-avatar"
      src="https://via.placeholder.com/80"
      alt="User Avatar"
    />
    <div class="username">Nom d'utilisateur</div>
    <div class="user-details">
      <div>Email: someemail</div>
    </div>
  </div>
</div>
