<h1>Break Community</h1>

<div
  id="app"
  style="height: 500px; margin-bottom: 10px; background-color: rgb(14, 14, 14)"
>
  <div id="sidebar">
    <div class="user-list">
      <h2>Members</h2>
      <div class="online-users">
        <ul>
          <li *ngFor="let user of onlineUsers">
            <img
              class="user-avatar"
              src="{{ user.avatar }}"
              alt="User Avatar"
            />
            <span class="username">{{ user.username }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="chat">
      <div *ngFor="let message of messages" class="message">
        <div class="message-content">
          <div style="display: flex">
            <img
              class="user-avatar"
              src="https://via.placeholder.com/40"
              alt="User Avatar"
            />
            <div class="username">{{ message.username }}</div>
          </div>
          <div class="content">{{ message.content }}</div>
        </div>
      </div>
    </div>

    <div class="input-container">
      <div class="logo-container">
        <img
          src="https://cdn-icons-png.flaticon.com/512/13496/13496175.png"
          alt="Logo"
          title="Sécurisé par Breaks Corporation LTD"
        />
      </div>

      <div class="emoji-section" *ngIf="showEmojiPopup">
        <div *ngFor="let emoji of emojis" (click)="selectEmoji(emoji)">
          {{ emoji }}
        </div>
      </div>
      <input
        type="text"
        class="message-input"
        placeholder="Type your message..."
        [(ngModel)]="newMessage"
      />
      <div class="emoji-container">
        <button class="emoji-button" (click)="toggleEmojiPopup()">😊</button>
      </div>
      <button class="send-button" (click)="sendMessageWithEmoji()">Send</button>
    </div>
  </div>

  <div id="user-info">
    <img
      class="user-avatar"
      src="https://via.placeholder.com/80"
      alt="User Avatar"
    />
    <div class="username">Nom d'utilisateur</div>
    <div class="user-details">
      <div>Email: someemail</div>
    </div>
  </div>
</div>
