<h1 style="padding: 20px">News and Update</h1>

<div class="card-container">
  <!--<div class="card" *ngFor="let news of newsData">-->
  <a
    class="card"
    *ngFor="let news of newsData"
    (click)="navigateToSingleNewsContent(news.article_id)"
  >
    <div class="img">
      <img src="{{ news.image_url }}" alt="{{ news.title }}" />
    </div>
    <div class="content">
      <h2 class="title">{{ news.title }}</h2>
      <p class="card-pubDate" style="color: rgb(174, 174, 174)">
        {{ news.pubDate }}
      </p>
      <p class="sub-title">{{ news.description }}</p>
      <p>
        <!--<button *ngIf="!news.expanded" (click)="toggleContent(news)">
          Read More
        </button>-->
      </p>
    </div>
  </a>
  <!--</div>-->
</div>
