<header class="header">
  <div class="container">
    <div class="header__logo">
      <h1 class="header__logo__name" (click)="goToHomePage()">CryptoBreak</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item">
          <a (click)="goToHomePage()" style="color: white">Home</a>
        </li>
        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            >Crypto <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <a (click)="goToCryptoCurrencyListPage()">Crypto-Center</a>
            <a (click)="goToNewsPage()">News/Updates</a>
            <a (click)="goToWalletPage()">Wallet</a>
          </div>
        </li>
        <li class="header__item">
          <a
            *ngIf="isAuthenticated"
            (click)="goToCommunityPage()"
            style="color: white"
            >Break-Community</a
          >
        </li>
        <li class="header__item">
          <a (click)="goToAboutPage()" style="color: white">About</a>
        </li>

        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            ><i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <a *ngIf="isAuthenticated" (click)="goToProfilePage()">My space</a>
            <a *ngIf="!isAuthenticated" (click)="goToConnectPage()">Login</a>
            <a *ngIf="isAuthenticated" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<app-notification></app-notification>
<router-outlet></router-outlet>

<router-outlet></router-outlet>

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>CryptoBreak</h3>
          <ul>
            <li><a (click)="goToCryptoCurrencyListPage()">Crypto-Center</a></li>
            <li><a (click)="goToNewsPage()">News/Updates</a></li>
            <li><a (click)="goToWalletPage()">Wallet</a></li>
            <li><a (click)="goToAboutPage()">About</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Company Name</h3>
          <p>
            Explore the world of cryptocurrencies with CryptoBreak! Stay
            informed with real-time market data, news updates, and connect with
            fellow enthusiasts in our community forum. Make smart decisions in
            the ever-evolving crypto landscape. 🚀💰 #CryptoBreak
            #Cryptocurrency
          </p>
        </div>
        <div class="col item social">
          <h3>Contact Us</h3>
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright" style="margin-left: 40px">CryptoBreak © 2024</p>
    </div>
  </footer>
</div>
