<header class="header">
  <div class="container">
    <div class="header__logo">
      <h1 class="header__logo__name" (click)="goToHomePage()">CryptoBreak</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a (click)="goToHomePage()">Home</a></li>
        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            >Crypto <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <a (click)="goToCryptoCurrencyListPage()">Crypto-Center</a>
            <a (click)="goToNewsPage()">News/Updates</a>
            <a (click)="goToMarketPage()">Market</a>
            <a (click)="goToWalletPage()">Wallet</a>
          </div>
        </li>
        <li class="header__item">
          <a (click)="goToCommunityPage()">Break-Community</a>
        </li>
        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            >Info <i class="fa fa-caret-down" aria-hidden="true"></i
          ></a>
          <div class="dropdown-content">
            <a (click)="goToAboutPage()">About</a>
            <a (click)="goToContactPage()">Contact</a>
          </div>
        </li>
        <li class="header__item">
          <a (click)="goToProfilePage()">My space</a>
        </li>
      </ul>
    </nav>
    <a (click)="goToConnectPage()">
      <img
        src="https://cdn-icons-png.flaticon.com/512/11919/11919808.png"
        alt="login"
      />
    </a>
  </div>
</header>
<app-notification></app-notification>
<router-outlet></router-outlet>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>CryptoBreak</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Account</h4>
        <ul>
          <li><a href="#">Informations</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
