h1 {
  font-weight: bold;
  color: white;
}

h1:hover {
  cursor: pointer;
}

a {
  font-size: 130%;
  font-weight: bold;
  color: white;
}

li {
  list-style: none;
}

li a {
  transition: font-size 0.8s;
}

li a:hover {
  cursor: pointer;
  color: #00fff2;
  transition: color 0.8s, font-size 0.8s;
}

.container {
  width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.25);
  /*background-color: rgb(0 126 255);*/
  background-color: black;
  border-radius: 20px;
}

.header__logo {
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  column-gap: 54px;
}

.header__link {
  font-size: 20px;
  text-transform: uppercase;
  color: #6a6a6a;
  text-decoration: none;
  position: relative;
}

.header__link::after {
  content: "";
  width: 0px;
  height: 2px;
  background: rgb(0, 255, 34);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
}

.header__link:hover::after {
  width: 100%;
  transition: 0.3s ease;
}

.p {
  color: white;
}

img {
  width: 30px;
}

img:hover {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 130%;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color 0.8s, font-size 0.8s;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #00fff2;
  transition: color 0.8s, font-size 0.8s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header__link {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  position: relative;
}

.header__link::after {
  background: white;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #000000;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
