body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: rgb(0, 34, 106);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

h1{
	cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.auth-container {
  display: flex;
  align-items: center;
}

.signin-btn {
  padding: 8px 16px;
  background-color: rgb(53, 53, 53);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-btn:hover {
	background-color: rgb(73, 208, 6);
	color: black;
	transition: 0.8s;
}

html, body {
  margin: 0;
  padding: 0;
}

/*
footer
*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(0, 34, 106);
    padding: 70px 0;
	border-radius: 40px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ee92c;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



