<header class="header">
  <div class="container">
    <div class="header__logo">
      <h1 class="header__logo__name" (click)="goToHomePage()">CryptoBreak</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a (click)="goToHomePage()">Home</a></li>
        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            >Crypto <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <a (click)="goToCryptoCurrencyListPage()">Crypto-Center</a>
            <a (click)="goToNewsPage()">News/Updates</a>
            <a (click)="goToWalletPage()">Wallet</a>
          </div>
        </li>
        <li class="header__item">
          <a *ngIf="isAuthenticated" (click)="goToCommunityPage()"
            >Break-Community</a
          >
        </li>
        <li class="header__item">
          <a (click)="goToAboutPage()">About</a>
        </li>

        <li class="header__item dropdown">
          <a href="#" class="dropbtn"
            ><i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <a *ngIf="isAuthenticated" (click)="goToProfilePage()">My space</a>
            <a *ngIf="!isAuthenticated" (click)="goToConnectPage()">Login</a>
            <a *ngIf="isAuthenticated" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
<app-notification></app-notification>
<router-outlet></router-outlet>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>CryptoBreak</h4>
        <ul>
          <li><a (click)="goToCryptoCurrencyListPage()">Crypto-Center</a></li>
          <li><a (click)="goToNewsPage()">News/Updates</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <p>© 2024 .CryptoBreak Tous droits réservés.</p>
      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
