h1 {
  color: white;
}

h2 {
  color: rgb(195, 195, 195);
}
p {
  color: white;
}

th {
  background: #2e2e2e;
  color: white;
}

th,
td,
tr {
  border: 1px solid #ccc;
  padding: 8px;
}

td {
  background-color: #1f1f1f;
  color: white;
}

.my_table {
  margin-top: 40px;
  border-collapse: collapse;
  align-items: center;
  flex: 1;
}

.page-container {
  display: flex;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
}

button {
  background-color: rgb(0, 126, 255);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(0, 242, 186);
  color: black;
  transition: 0.5s;
}

.my_table button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.mat-mdc-paginator-range-actions {
  color: white;
}
