<h1>Crypto Center</h1>
<div class="sub-header">
  <h2 style="padding: 20px">Trending currency</h2>
  <marquee
    behavior="scroll"
    onmouseover="stop()"
    onmouseout="start()"
    loop="infinite"
    scrollamount="15"
  >
    <div class="marquee-container">
      <ng-container *ngFor="let row of trendingData">
        <div class="card">
          <img [src]="row.image" width="50" class="img-fluid" alt="" />
          <div
            class="card-body"
            style="color: rgb(0, 170, 255); font-weight: bold"
          >
            <h6 class="card-title">
              {{ row.symbol | uppercase }}
              <span class="text-danger" style="color: rgb(0, 242, 186)"
                >{{ row.market_cap }} %</span
              >
            </h6>
            <p class="card-text">
              {{ row.current_price | currency : currency }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </marquee>
</div>

<div class="page-container">
  <div class="left-section">
    <h2>CryptoCurrency Table</h2>

    <div
      class="error-message"
      *ngIf="loadingError"
      style="display: flex; align-items: center"
    >
      <p
        style="
          color: red;
          font-weight: bold;
          font-size: 25px;
          margin-right: 10px;
        "
      >
        {{ loadingError }}
      </p>
      <img
        src="https://cdn-icons-png.flaticon.com/512/4457/4457164.png"
        alt="Error Image"
        style="width: 30px; height: 30px"
      />
    </div>

    <table class="my_table" mat-table [dataSource]="dataSources" matSort>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let crypto">
          <img [src]="crypto.image" alt="{{ crypto.name }}" width="50" />
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let crypto">{{ crypto.id }}</td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let crypto">{{ crypto.symbol }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let crypto">{{ crypto.name }}</td>
      </ng-container>

      <ng-container matColumnDef="current_price">
        <th mat-header-cell *matHeaderCellDef>Current Price</th>
        <td mat-cell *matCellDef="let crypto">{{ crypto.current_price }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>View details</th>
        <td mat-cell *matCellDef="let crypto">
          <button (click)="showDetails(crypto)">
            View detailsㅤ<i class="fa fa-info-circle" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="showcolumns"></tr>
      <tr mat-row *matRowDef="let row; columns: showcolumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="6"
      showFirstLastButtons
      style="color: white"
    ></mat-paginator>
  </div>

  <div class="right-section">
    <h2>Details</h2>

    <div *ngIf="chosenCrypto" class="detailsdiv">
      <h3>Selected Crypto Details:</h3>
      <!-- Ajoutez autant de balises p que nécessaire pour afficher toutes les informations que vous souhaitez -->
      <table class="crypto-table">
        <tr>
          <td style="background-color: #3a3a3a">Symbol:</td>
          <td>{{ chosenCrypto.symbol }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Name:</td>
          <td>{{ chosenCrypto.name }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Current Price:</td>
          <td>
            {{
              chosenCrypto.current_price | currency : "USD" : "symbol" : "1.2-2"
            }}
          </td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Market Cap:</td>
          <td>{{ chosenCrypto.market_cap | number : "1.0-0" }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Market Cap Rank:</td>
          <td>{{ chosenCrypto.market_cap_rank }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Total Volume:</td>
          <td>{{ chosenCrypto.total_volume | number : "1.0-0" }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">High 24h:</td>
          <td>
            {{ chosenCrypto.high_24h | currency : "USD" : "symbol" : "1.2-2" }}
          </td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Low 24h:</td>
          <td>
            {{ chosenCrypto.low_24h | currency : "USD" : "symbol" : "1.2-2" }}
          </td>
        </tr>

        <tr>
          <td style="background-color: #3a3a3a">Market Cap Change 24h:</td>
          <td>{{ chosenCrypto.market_cap_change_24h | number : "1.0-0" }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">
            Market Cap Change Percentage 24h:
          </td>
          <td>{{ chosenCrypto.market_cap_change_percentage_24h }}%</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Circulating Supply:</td>
          <td>{{ chosenCrypto.circulating_supply | number : "1.0-0" }}</td>
        </tr>
        <tr>
          <td style="background-color: #3a3a3a">Last Updated:</td>
          <td>{{ chosenCrypto.last_updated | date : "medium" }}</td>
        </tr>
      </table>

      <button
        (click)="gotoDetails(chosenCrypto)"
        mat-button
        style="margin-top: 20px"
      >
        Go to Details
      </button>
    </div>
  </div>
</div>
