h1 {
  color: rgb(0, 169, 255);
}

h2 {
  color: rgb(0, 242, 186);
}

p {
  color: white;
}

th {
  background: #2e2e2e;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

th,
td,
tr {
  border: 1px solid #ccc;
  padding: 8px;
  transition: border-color 0.3s, padding 0.3s;
}

th {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 242, 186);
  text-align: center;
}

td {
  background-color: #1f1f1f;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
  text-align: center;
}

.my_table {
  margin-top: 40px;
  border-collapse: collapse;
  align-items: center;
  flex: 1;
  overflow: hidden; /* Pour cacher les éléments qui dépassent */
}

.my_table th,
.my_table td {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.my_table tbody tr:nth-child(even) td {
  background-color: #2c2c2c; /* Une couleur légèrement différente pour les lignes paires */
}

.my_table tbody tr:hover th,
.my_table tbody tr:hover td {
  opacity: 1;
  transform: translateY(0);
}

.my_table th,
.my_table td {
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-container {
  display: flex;
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
}

button {
  background-color: rgb(0, 126, 255);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: rgb(0, 242, 186);
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.my_table button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.mat-mdc-paginator-range-actions {
  color: white;
}
