<div *ngIf="user" class="profile-container">
  <div class="menu-container">
    <div class="menu">
      <div class="menu-item" (click)="selectedMenuItem = 'coordonnees'">
        Coordonnées
      </div>
      <div class="menu-item" (click)="selectedMenuItem = 'defaultCurrency'">
        Default Currency
      </div>
      <div class="menu-item" (click)="selectedMenuItem = 'myprefences'">
        My Preferences
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content">
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <label class="label">Email:</label>
        <input type="text" [(ngModel)]="user.email" placeholder="Email" />
      </div>
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <label class="label">Name:</label>
        <input type="text" [(ngModel)]="user.name" placeholder="Name" />
      </div>
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <label class="label">Role:</label>
        <input type="text" [(ngModel)]="user.role" placeholder="Role" />
      </div>

      <div *ngIf="selectedMenuItem === 'defaultCurrency'" class="profile-field">
        <label class="label">Default Currency:</label>
        <select [(ngModel)]="user.defaultCurrency" class="hoverable-menu">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div *ngIf="selectedMenuItem === 'myprefences'" class="profile-field">
        <label class="label">My Preferences</label>
        <div>
          <ul>
            <li *ngFor="let preference of user.cryptocurrencies">
              {{ preference }}
              <button
                (click)="removePreference(preference)"
                style="background-color: rgb(160, 0, 0); color: black"
              >
                Supprimer
              </button>
              <button class="btn btn-primary" (click)="openAddCryptoModal()">
                Add Crypto
              </button>
            </li>
          </ul>
        </div>
      </div>

      <button
        (click)="updateProfile()"
        style="background-color: rgb(24, 182, 0); color: black; margin: 20px"
      >
        Update
      </button>
    </div>
  </div>
</div>
