/* profile.component.css */

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-container {
  margin-left: 20px;
  background-color: #acacac;
  position: fixed;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.content-container {
  flex-grow: 1;
  margin-left: 240px;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-item.selected {
  color: rgb(0, 179, 255);
  background-color: #101010;
}

.menu-item {
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #ccc;
}

.menu-item:hover {
  color: white;
  background-color: #424242;
}

.content-container {
  flex-grow: 1;
  margin-left: 20px;
  padding: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

.input-field,
.select-field {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn {
  font-weight: bold;
  background-color: #00b806;
  color: #000000;
  margin-top: 20px;
}

/*table*/
.crypto-table-container {
  color: white;
  margin-top: 15px;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
}

.crypto-table th,
.crypto-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.crypto-table th {
  background-color: #191919;
}

.crypto-row:hover {
  background-color: #000000;
  transition: 1s;
}

.action-btn {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #98180a;
  color: #fff;
}

.add-btn {
  background-color: #0c67a4;
  color: #fff;
}

.action-btn:hover {
  filter: brightness(90%);
}
