<!-- profile.component.html -->

<div *ngIf="user" class="profile-container">
  <div class="menu-container">
    <div class="menu">
      <div
        class="menu-item"
        (click)="selectedMenuItem = 'coordonnees'"
        [class.selected]="selectedMenuItem === 'coordonnees'"
      >
        Informations
      </div>
      <div
        class="menu-item"
        (click)="selectedMenuItem = 'defaultCurrency'"
        [class.selected]="selectedMenuItem === 'defaultCurrency'"
      >
        Default Currency
      </div>
      <div
        class="menu-item"
        (click)="selectedMenuItem = 'myprefences'"
        [class.selected]="selectedMenuItem === 'myprefences'"
      >
        My Favorites
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content">
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <h2 style="color: white">Informations</h2>
        <label class="label">Email:</label>
        <input type="text" [(ngModel)]="user.email" placeholder="Email" />
      </div>
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <label class="label">Name:</label>
        <input type="text" [(ngModel)]="user.name" placeholder="Name" />
      </div>
      <div *ngIf="selectedMenuItem === 'coordonnees'" class="profile-field">
        <label class="label">Role:</label>
        <input type="text" [(ngModel)]="user.role" placeholder="Role" />
      </div>

      <div *ngIf="selectedMenuItem === 'defaultCurrency'" class="profile-field">
        <h2 class="label">Default Currency:</h2>
        <select [(ngModel)]="user.defaultCurrency" class="select-field">
          <option value="EUR">EUR</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div *ngIf="selectedMenuItem === 'myprefences'" class="profile-field">
        <h2 class="label">My Favorites</h2>
        <!-- profile.component.html -->

        <div class="crypto-table-container">
          <table class="crypto-table">
            <thead>
              <tr>
                <th>Crypto</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let preference of user.cryptocurrencies"
                class="crypto-row"
              >
                <td>{{ preference }}</td>
                <td>
                  <button
                    (click)="removePreference(preference)"
                    class="action-btn delete-btn"
                  >
                    Supprimer
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button (click)="updateProfile()" class="update-btn">Update</button>
    </div>
  </div>
</div>
