<div class="signup-container">
  <form class="Signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2>Create Account</h2>

    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <div class="input-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <button type="submit">Signup</button>
  </form>
</div>
