<!--

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 details">
      <div class="img">
        <img [src]="coinInformation?.image?.large" alt="" />
        <h3 class="text-center" style="font-size: 23px">
          {{ coinInformation?.name }}
        </h3>
        <h2 [innerHtml]="coinInformation?.description?.en.split('. ')[0]"></h2>
        <div class="more-detail">
          <span class="title">Rank: </span>
          <span class="value">{{ coinInformation?.market_cap_rank }}</span
          ><br />
          <span class="title">Current Price: </span>
          <span class="value">{{
            coinInformation?.market_data.current_price.eur
              | currency : chosenCurrency
          }}</span
          ><br />
          <span class="title">Market Cap: </span>
          <span class="value">{{
            coinInformation?.market_data.market_cap.eur
              | currency : chosenCurrency
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-around">
        <button (click)="getGraphData(1)" class="btn btn-custom">
          24 hours
        </button>
        <button (click)="getGraphData(30)" class="btn btn-custom">
          30 days
        </button>
        <button (click)="getGraphData(90)" class="btn btn-custom">
          90 days
        </button>
        <button (click)="getGraphData(365)" class="btn btn-custom">
          1 year
        </button>
      </div>
    </div>
  </div>
</div>
-->

<div class="chart" style="width: 100%">
  <canvas id="myChart" #mychart></canvas>
</div>

<div class="col-md-8">
  <div class="d-flex justify-content-around">
    <button type="button" (click)="setTimeFrame(1)">24h</button>
    <button type="button" (click)="setTimeFrame(30)">30 days</button>
    <button type="button" (click)="setTimeFrame(90)">3 months</button>
    <button type="button" (click)="setTimeFrame(365)">1 year</button>

    <!--
    <button (click)="getGraphData(1)" class="btn btn-custom">24 hours</button>
    <button (click)="getGraphData(30)" class="btn btn-custom">30 days</button>
    <button (click)="getGraphData(90)" class="btn btn-custom">90 days</button>
    <button (click)="getGraphData(365)" class="btn btn-custom">1 year</button>
    //-->
  </div>
</div>
