/* Ajoutez ces styles à votre fichier de styles global */

/* Style de l'arrière-plan de la modal */
.modal-backdrop {
  opacity: 0.5 !important;
}

/* Style de la modal elle-même */
.modal-content {
  border-radius: 8px; /* Coins arrondis */
}

/* Style de l'en-tête de la modal */
.modal-header {
  background-color: #007bff; /* Couleur de fond de l'en-tête */
  color: #ffffff; /* Couleur du texte de l'en-tête */
  border-bottom: 1px solid #0069d9; /* Bordure inférieure */
}

/* Style du titre de la modal */
.modal-title {
  font-size: 1.25rem; /* Taille de la police du titre */
}

/* Style du bouton de fermeture de la modal */
.modal-header .close {
  color: #ffffff; /* Couleur du texte du bouton de fermeture */
}

/* Style du corps de la modal */
.modal-body {
  padding: 20px; /* Espacement intérieur */
}

/* Style du bouton de fermeture en haut à droite */
.modal-header .close {
  margin-right: 10px;
}

h1 {
  color: rgb(0, 195, 255);
  text-align: center;
  margin-top: 75px;
}

h2 {
  color: rgba(255, 0, 242, 0.855);
}

h3 {
  color: rgb(0, 213, 213);
}

p {
  color: white;
}

th {
  background: #2e2e2e;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
th,
td,
tr {
  border: 1px solid #ccc;
  padding: 8px;
  transition: border-color 0.3s, padding 0.3s;
}

th {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 242, 186);
  text-align: center;
}

td {
  background-color: #1f1f1f;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.my_table {
  margin-top: 40px;
  border-collapse: collapse;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.my_table th,
.my_table td {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.my_table tbody tr:nth-child(even) td {
  background-color: #2c2c2c;
}

.my_table tbody tr:hover th,
.my_table tbody tr:hover td {
  opacity: 1;
  transform: translateY(0);
}

.my_table th,
  .my_table td,
  .my_table td:nth-child(7), /* La 7ème colonne (delete) */
  .my_table td:nth-child(8)  /* La 8ème colonne (addCrypto) */ {
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-container {
  display: flex;
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
}

button {
  background-color: rgb(0, 126, 255);
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: rgb(0, 242, 186);
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

#deletebutton {
  background-color: red;
}

#addCrypto {
  background-color: #00c137;
}

#detailsbutton {
  background-color: #00e5ff;
  color: black;
}

.my_table button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.mat-mdc-paginator-range-actions {
  color: white;
}
.sub-header {
  overflow: hidden;
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
}

.card {
  display: inline-block;
  margin-right: 5px;
  width: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: transparent;
}
.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 8px;
}

.card-title {
  font-size: 12px;
  margin-bottom: 4px;
}

.card-text {
  font-size: 15px;
}

.text-danger {
  font-size: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.detailsdiv {
  border: 1px solid #08ee00;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.crypto-table tr {
  border-bottom: 1px solid #ddd;
}

.crypto-table td {
  padding: 10px;
}

/* Style the label column in the table */
.label {
  font-weight: bold;
}
